.search-wizard-page {
  .toolbar-background {
    background: lightblue;
    border-color: transparent;
  }
  .slide-zoom {
    height: 100%;
  }
  .slide-title {
    margin-top: 4vh;
  }
  .skip-btn {
    padding-right: 5%;
  }
  .or-divider {
    text-align: center;
    font-size: 2vh;
    padding-top: 3vh;
    padding-bottom: 1vh;
  }
  .spacer {
    height: 8vh;
    min-height: 8vh;    
  }
  .ion-list {
    padding-top: 5%;
  }
}


